
#argument_list {
	width: 100%;
	display: table;
	overflow:scroll;
}

.argument_element{
	display: table-cell;
	min-width: 540px;
	border: 1px solid #000000;
	padding: 15px;
	margin: 4px;
	overflow: scroll;

}

.ArgTitle_Input_default{
	margin-left:20px;
	margin-right:20px;
	min-width:300px;
	border-style: solid;
	border-width: thin;
	border-color: #D3D3D3;

}

.ArgTitle_Input_edit{
	margin-left:20px;
	margin-right:20px;
	min-width:400px;
	padding: 20px;
	border-style: solid;
	border-width: medium;
	background-color: #FFFFFF;
	border-color: #D3D3D3;
}

.arg_title_loading{
	margin-left: auto;
	text-align:right;
	float: right;
	padding-right:15px;
}


.arg_title_right{
}
.arg_editor_info{
	padding-left:5px;
}
.arg_title_button{
	display:flex;
	flex-direction:row;
	padding:10px;
}

.main_arg{
	display:flex;
	flex-direction:row;
}
.MainArg_left{
}
.MainArgDefault_input{
	margin-left:20px;
	margin-right:20px;
	min-width:300px;
	max-width:450px;
	min-height: 200px;
	border-style: solid;
	border-width: medium;
	background-color: #FFFFFF;

}

.MainArg_Content{
	margin-left:10px;
	margin-right:10px;
	min-width:150px;
	max-width:450px;
	text-align: left;
	vertical-align:middle;
	padding-left: 5px;
	padding-right: 5px;
	padding-top:5px; 
	padding-bottom:5px;
	min-height: 200px;
	min-width: 400px;
	display:inline-block;
	border-style: solid;
	border-width: thin;
	background-color: #FCF5F5;
}

.MainArg_input_edit{
	margin-left:20px;
	margin-right:20px;
	min-width:500px;
	min-height: 400px;
	padding: 20px;
	border-style: solid;
	border-width: medium;
	background-color: #FFFFFF;
	border-color: #D3D3D3;
}

.MainArg_loading{
	margin-left: auto;
	text-align:right;
	float: right;
	padding-right:15px;
}

.MainArg_right{	
}

.MainArg_editor_info{
	padding-left:5px;
}

.MainArg_button{
	display:flex;
	flex-direction:row;
	padding:10px;
}

.arg_comment_txt{
	margin:1px;
	padding:5px;
	width: 100%;
}

.arg_comment_ul{
  list-style: none;
  margin-left: 10px;
}

.arg_comment_list{
	width:100%;
	display:flex;
	flex-direction:row;
	border-style: solid;
	border-width: thin;
	background-color: #FCF5F5;
	margin:3px;
}

.arg_comment_left{
	margin:10px;
	width:50px;
}


.arg_comment_center{
	flex:1;
}

.arg_comment_edit_input{
	margin:1px;
	padding:5px;
	width:100%;
	min-height: 200px;
	border-style: solid;
	border-width: medium;
	background-color: #FFFFFF;
	border-color: #D3D3D3;
}

.arg_comment_right{
	width:70px;
}

.arg_comment_button{

}

.argument_comment_input{
	margin:10px;
	padding:10px;
	border-style: solid;
	border-width: medium;
	min-height: 80px;
	width: 90%;
	background-color: #FFFFFF;

}


.MainArg_input_edit{
	margin-left:20px;
	margin-right:20px;
	min-width:500px;
	min-height: 400px;
	padding: 20px;
	border-style: solid;
	border-width: medium;
	background-color: #FFFFFF;
	border-color: #D3D3D3;
}




.arg_comment{
	
}

.tab_name_font{
	font-weight:bold;
	font-size: large;
}
.tab_name_font a{
	margin-top:3px;
	padding-top:0px !important;
	padding-bottom:0px !important;
	margin-bottom:3px;
	margin-right:15px;
	margin-left:15px;
}