p { line-height: 100% }
div { line-height: 110% }
form {margin-bottom: 0px;}

.transcription_name {
	margin-bottom:0px;
	margin-top:5px;
	font-weight:bold;
}

.user_status_p { line-height: 100% }

.login{
  background-color: #00FF7F;
  display: flex;
}

.logout{
  background-color: #778899;
  display: flex;
}

.no_applicant{
  background-color: #FFFACD;
  display: flex;
}


.message_css_own{
  color: red;

}

.message_css_others{
  color: black;

}

#whole {
	width: 100%;
	height: 100%;
}

#inner_whole {
	overflow: scroll;
	/*
	width:1652px;*/
	height:600px;
	

}



#container_top{
	width: 1012px;
}

#title_container{
	display: flex;
}

.game_status_indicate{
	vertical-align: middle;
}
.game_status_indicate_focusued{
	vertical-align: middle;
	background-color: #FFC700;
}


#event-title{
	width: 1012px;
	border-style: solid;
	border-width: thin;
	position: relative;
}

#motion_title{
	margin-left: 5px;
	margin-right: 5px;
	padding-left: 5px;
	padding-right: 5px;

}

#motion_sentence{
	margin-left: 10px;
	padding-left: 10px;
	font-family: sans-serif;
	font-size: x-large;
}

#event_left{
	max-width: 1100px;
	min-width: 500px;
	vertical-align: text-bottom;
}
#event_title_input{
	min-width: 400px;
}

#event_title_show_out{
	font-size: large;
	padding-top: 8px;
	padding-bottom: 0px;
	display: flex;
	flex-wrap: nowrap;
}
#event_title_show_in{
	padding: 5px;
	font-weight:normal;
	max-width: 1100px;
	min-width: 500px;
}

#audience_list{
	padding: 5px;
	float: left;
	border: 1px solid #000000;
}



.title_button{
	position: absolute;
	bottom:   5;
	display: flex;
	flex-wrap: nowrap;
}


#event_right{
	vertical-align: text-bottom;
	position:relative;
}



#speech_status {
	background-color: #FFCCCC;
	width: 300px;
	margin: 2px;
	float: left;
}



#partner_message {
background-color: #CCCC00;
width: 300px;
margin: 4px 4px 4px 4px;
}

#partner_hangout {
	background-color: #DDDDFF;
	width: 280px;
	margin: 10px;
}

#chat_field {
	background-color: #ffffe0;
	width: 280px;
	margin: 10px;
}


/* original */

#container_main {
	background-color: #EEEEEE;
	height: 100%;
	display: flex;
	flex-wrap: nowrap;
	flex-direction:row;
	align-items：flex-start
}




#container_left_pain {
	background-color: #FFCCCC;
	min-width: 300px;
}

#container_center {
	display: flex;
	width: 580px;
	flex-direction: column;
}

#container_center_upper{
	width: 580px;
	height:80px;
}

#container_center_low{
	width: 580px;
	display: flex;
	flex-direction: row;
}

#container_center_pain {
	background-color: #F5F6CE;
	min-width: 300px;
}

#container_right_pain {
	background-color: #0000ff;
	min-width: 276px;
}

#game_status_container{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	height:60px;
}
#status_control{
	display: flex;
	flex-direction: row;
	overflow: visible;
}

#status_message{
	display: flex;
	flex-direction: row;
	height:30px;
	vertical-align: middle;
}
#status_text_message{
	flex:1;
	vertical-align: middle;
	font-family: sans-serif;
	font-size: large;
	color: #0000ff;
	padding-top: 5px;
}

#preparation_time{
	margin-right: auto;
	font-family: sans-serif;
	font-size: x-large;
	color: #ff0000;
}

#transcription_field div{
	flex:1;
	min-width: 200px;
	border-style: solid;
	border-width: thin;
}




/* two_column */


.two_Column_left_pain {
	width: 500px;
	margin: 3px;
}

.two_Column_center_pain {
	width: 0px;
	margin: 0px;

}

.two_Column_right_pain {
	width: 300px;
	margin: 3px;
}

/* three_column */

.three_Column_left_pain {
	width: 300px;
	margin: 2px;

}

.three_Column_center_pain {
	width: 300px;
	margin: 2px;

}

.three_Column_right_pain {
	width: 280px;
	margin: 2px;
}


