#info_intro {
	margin:10px;
	background-color: #F5F5F5;
}
#info_intro p:first-child {
	margin-left:10px;
	font-size: medium; 
	text-decoration: underline;
}

#info_intro p:last-child {
	margin-left:10px;
	font-weight: bold;  
}

#info_prep{
	margin:10px;
	background-color: #F5F5F5;
}

#info_prep p {
	margin-left:10px;
	font-size: medium; 
	text-decoration: underline;
}

#link_team_room {
	text-align:center;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:5px;
	padding-right:5px;
	background-color: #FFE4E1;
	float:right;
	width:170px;
}
#link_team_room_container ul{
	list-style:none;
	margin-right: auto;
	padding-left: 0;
}