
/*
#audience_list{
	padding: 5px;
	float: left;
	border: 1px solid #000000;
}
*/



.team_name_row {
	width:100%;
	display:flex;
	flex-direction: row;
}

.team_name_row > div{
	width:50%;
	text-align:center;
	border: 1px solid #000000;
}
.teame_name {
	width:80%;
	margin:5px auto 5px auto;
	font-weight: bold;
	background-color: #D3D3D3
}

.participant_row {
	width:100%;
	display:flex;
	flex-direction: row;
}

.participant_row > div{
	width:50%;
}

#audience_list .participant{
	display:flex;
	flex-direction: row;
	border: 0.5px solid #000000;
	height:40px;
	vertical-align:middle;
}

.participant_row .participant {
	display:flex;
	flex-direction: row;
	border: 1px solid #000000;
	height:60px;
	vertical-align:middle;
	justify-content:space-around;
}
.participant img{
	height:50px;
	margin-top:5px;
}

.participant_row .participant_name{
	text-align:center;
	vertical-align:middle;
	 padding-top:15px;
}

#audience_list .participant_name{
	 padding-top:5px;
}

.participant_role {
	font-weight: bold;
	 display: inline;
	 vertical-align:middle;
	 padding-top:15px;
}
.participant_button{
	vertical-align:middle;
	 padding-top:15px;

}


#debater_list_title{
	text-align:center;
	font-weight: bold;
	margin-bottom:0px;
	text-decoration: underline;
}

#audience_list_title{
	text-align:center;
	font-weight: bold;
	margin-bottom:0px;
	text-decoration: underline;
}


#audience_list{
	padding: 5px;
	width:100%;
	border: 1px solid #000000;
}

#audience_list ul{
	list-style-type: none;
}


#audience_list li{
	display: inline-block;
	list-style-type: none;
	border: 1px solid #000000;
}
#audience_list img{
	height:30px;
}