
ul {
	list-style:none;
}

#whole {
	width: 100%;
	height: 100%;
}

#inner_whole {
	overflow: scroll;
	/*
	width:1652px;*/
	height:800px;
	display:flex;
	flex-direction:column;
}

#first_row {
	width= 100%
	min-height:40px;
  	background-color: #D0D0D0;
}

#second_row {
	width: 100%;
	min-height: 150px;
	display:flex;
	flex-direction:row;
	/*align-items:flex-end;*/
	 /* justify-content:flex-end; */
	overflow-y: auto; 
}

#second_left {
 	flex: 1;
	display:flex;
	flex-direction:column;
}
#second_left_first {
  	background-color: #FF0000;
  	padding:5px;
}
#second_left_second {
  	background-color: #00FF00;
	overflow-y: scroll; 
  	padding:5px;
  	max-height:300px;
  	min-height:200px;
}

#second_left_third {
  	background-color: #0000FF;
  	padding:5px;
}


#second_right {
	width: 200px;
  	background-color: #F0F0F0;
	display:flex;
	flex-direction:column;
}

#second_right_first {
	width: 100%;
  	background-color: #990000;
}
#second_right_second {
	width: 100%;
  	background-color: #009900;
}


#second_right_third {
	width: 100%;
  	background-color: #000044;
	margin-top: auto;
	text-align: center;
}


#third_row {
	width: 100%;
}

#argument_list {
	width: 100%;
	display: table;
/*
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
*/
	overflow:scroll;
}
.argument_child{
	display: table-cell;
}
.argument_element{
	min-width: 540px;
	border: 1px solid #000000;
	padding: 15px;
}

.general_concept_txt {
	margin:10px;
	padding-left:10px;
	padding-right:10px;
	border-style: solid;
	border-width: thin;
	min-height: 100px;
	width: 90%;
	background-color: #FCF5F5;
	/*overflow-y:scroll;*/

}
.argument_comment_input{
	margin:10px;
	padding:10px;
	border-style: solid;
	border-width: medium;
	min-height: 80px;
	width: 90%;
	background-color: #FFFFFF;

}


.general_concept_input {
	margin-bottom:0px;
	margin:10px;
	padding:10px;
	border-style: solid;
	border-width: medium;
	min-height: 200px;
	width: 90%;
	background-color: #FFFFFF;
}
.concept_title{
	font-weight: bold;
	font-size:large;
}
/*
.link_Add_Input{

	margin-left:20px;
	min-width: 400px;

}

.link_Add_Input{

	margin-left:20px;
	min-width: 400px;

}

.link_container{
	border-bottom:dotted gray 1px;
	width:100%;
	max-width:700px;
	margin-bottom:3px;
	display: flex;
	flex-direction:row;
	overflow:hidden;
	flex-wrap:nowrap;
}
.link_text_area{
	flex:1;
	padding-top:4px;
}
.link_image_area{
	padding-top:4px;
	max-width:40px;
}
*/