
.arg_edit_footer{
	display:flex;
	flex-direction:row-reverse;
}

.arg_edit_footer div:last-child{
	margin-right: auto;
}

.button_container{
	text-align:right;
	padding-top:7px;
	padding-right:10px;
	padding-bottom:4px;

}


.argument_container{
	display:flex;
	padding: 3px;
	width:100%;
	background-color:#DCDCDC;
}

.save_button{
	padding-top:0px;
	padding-bottom:2px;
}

.argument_title_css{
	margin-right:10px;
	margin-left:10px;
	width:95%;
}

.save_indicate{

}
.save_message{
	color:green;
	margin-right:30px;
}

.loading_container{
	background-color:#DCDCDC;

}

.loading_vertical{
	width:15px !important;
	text-align:center !important;
}

.loading_vertical >div{
	width:5px !important;
	height:5px !important;
	margin:5px !important;
}